.clickable-img:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.clickable-img {
    border: 5px solid #ffeaa8;
    border-radius: 20px;
}

.info-box {
    background-color: rgb(235, 235, 214);
    position:fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto;
    width: 500px;
    height: 600px;
    padding: 30px;
    border-radius: 20px;
    z-index: 5;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

p {
    margin: 10px 0px 3px 0px;
}

.emphasis {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.emphasis:hover {
    color: #5d5e9e;
}

.App button {
    border: 2px solid #5d5e9e;
    color: #5d5e9e;
    border-radius: 12px;
    padding: 5px 10px;
    font-family: "Comic Neue", cursive;
    background: none;
    font-size: 20px;
}

.App .fun-fact {
    font-family: "Prompt";
}

.App .fun-fact:hover {
    background-color: #5d5e9e;
    color: #ffeaa8;
    transition: 0.3s ease;
}

.App .buttons button:hover {
    background-color: #5d5e9e;
    color: #ffeaa8;
    transition: 0.3s ease;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    position: absolute;
    bottom: 40px;
}