.Landing {
    font-family: "Prompt", sans-serif;
    background-image: linear-gradient(to right, #f5e2a4 20%, #5d5e9e 100%);
    height: 100%;
    color: #454576;
    padding: 20px 150px 50px 150px;
}

a {
    text-decoration: none;
    color: #454576;
}
.Landing button {
    font-family: "Prompt", sans-serif;
}

.Landing .navbar {
    padding-top: 20px !important;
    display: flex;
    justify-content:space-between;
}

.Landing .mid-nav {
    display: flex;
    gap: 80px;
}

.nav-text {
    font-size: 20px;
}

.Landing .right-nav button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid #ead181;
    color: #ead181;
    background-color: transparent;
    font-weight: 600;
}

.Landing .right-nav button:hover {
    background-color: #ead181;
    border: 2px solid transparent;
    color: #454576;
    transition: 0.3s ease;
}

.Landing .hero-title {
    font-size: 50px;
    font-weight:bolder;
}

.hero {
    display: flex;
    gap: 80px;
    margin-top: 100px;
    margin-bottom: 250px;
}

.hero img {
    width: 400px;
}

.sub {
    line-height: 40px;
    font-size: 18px;
}

.Landing .hero button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid #454576;
    color: #454576;
    background-color: transparent;
    width: 150px;
    font-weight: 500;
}

.Landing .hero .hero-title {
    margin-bottom: 0;
}

.Landing .hero button:hover {
    background-color: #454576;
    border: 2px solid transparent;
    color: #ead181;
    transition: 0.3s ease;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navbar .logo {
    width: 100px;
    height: 60px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}
.card {
    background-color: #454576;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 25%;
    gap: 10px;
    color:#ead181;
    border-radius: 25px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.card img {
    width: 100px;
    height: 100px;
}

.card h3, .card p {
    margin: 0;
    text-align: center;
}

.about {
    padding-top: 120px;
    padding-bottom: 200px;
}

.about-title {
    font-size: 50px;
}
.card h3 {
    margin-top: 20px;
}

.about-title {
    text-align: center;
    margin-bottom: 60px;
}

footer {
    text-align: center;
    padding-bottom: 0;
}