body {
  background-image: url("/public/images/egypt-test.png");
  height: 5000px;
  font-family: "Comic Neue", cursive;
}

.App .fun-fact {
  position: absolute;
  top: 20px;
  right: 30px;
}

.fun-fact-box {
  background-color: rgb(235, 235, 214);
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto;
  width: 500px;
  height: 600px;
  padding: 30px;
  border-radius: 20px;
  z-index: 5;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fun-fact-box button {
  width: 200px;
}

.fun-fact-box .buttons {
  display: flex;
  position: absolute;
  bottom: 40px;
}